#display-task{
    display: flex;
    flex-direction: row;
}
.heading{
    background-color: rgb(179, 174, 174);
    color: black;
    border-bottom: black solid 1px;
    text-align: center;
    font-size:x-large;
}
#to-be-completed{
    min-height: 38rem;
    height: auto;
    width: 50%;
    border: black solid 1px;
    margin: 2px;
}
#completed{
    min-height: 38rem;
    height: auto;
    width: 50%;
    border: black solid 1px;
    margin: 2px;
}